//  all the general css that is used in the whole webpage
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  // all the color palletes used in this whole website
  $primary: #7400b8;
  $secondary: #ee6f57;
  $tertiary: #f6efe8;
  $lightdark: #1d1d1d;
  $yellow: #ecb22e;
  
  html {
    font-size: 62.5%;
    body {
      font-family: "Poppins", "sans-serif";
      font-size: 1.6rem;
      // background-color: $tertiary;
      section {
        padding: 2rem 9%;
      }
      a {
        text-decoration: none;
      }
    }
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  // All the general  used classes of the flex to make the   layout
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .w-100 {
    width: 100%;
  }
  .w-48 {
    width: 48%;
  }
  .h-screen {
    height: 100vh;
  }
  .btn {
    background-color: $secondary;
    color: #fff;
    font-weight: 600;
    padding: 0.8rem 2.4rem;
    border-radius: 2rem;
  }
  form {
    input {
      padding: 0.8rem;
      margin: 0.5rem 0;
    }
  }
  
  .submit-btn {
    background-color: $secondary;
    color: #fff;
    border: none;
    font-weight: 700;
  }
  // navigation bar  header of the website  start here
  .header {
    padding: 2rem 9%;
    background-color: #fff;
    .logo {
      font : {
        weight: 900;
        size: 2.5rem;
      }
      color: $primary;
    }
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    nav {
      a {
        margin-left: 2rem;
        color: #000;
        text-transform: capitalize;
        &:hover {
          color: $primary;
        }
      }
    }
    .btn {
      color: #fff;
    }
  }
  // navigation bar ends  here
  
  // hero section start here
  .hero {
    height: 80vh;
    h1 {
      font-weight: 700;
      font-size: 3.6rem;
      text-transform: capitalize;
    }
  }
  .hidden {
    display: none;
  }
  // hero section ends here
  
  // style the dashboard
  .dashboard-header {
    padding: 2rem 5%;
  }
  .dashboard-wrapper {
    padding: 2rem 5%;
    align-items: flex-start;
    aside {
      flex: 0 1 19%;
      font-size: 1.5rem;
      @extend .flex-column;
      form {
        @extend .flex-column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        margin: 0 0 1rem 0;
      }
      input {
        width: 100%;
        padding: 0.5rem;
      }
    }
    section {
      flex: 0 1 57%;
      padding: 0 2rem;
      height: 100vh;
      border-right: .2rem solid #dddddd;
      border-left:.2rem solid #dddddd;
    }
    h2{
        font-size: 2rem;
        text-align: center;
    }
  }
  .user-dashboard {
    padding: 0;
  }
  .expense-container{
      padding:  1rem 14%;
      h2{
          font-size: 2.4rem;
          font-weight: 600;
      }
      span{
          font-weight: 900;
          font-size: 3rem;
          margin: 1rem 0;
          color: #333;
  
      }
  }
  .history-container{
      h2{
          text-align: left;
          padding: 1rem 0;
          border-top:.2rem solid #dddddd;
      }
      .expense-history{
          padding: 1rem;
          border: .1rem solid ;
          margin-bottom:2rem;
          border: .1rem solid #dddddd;
          border-right: .5rem solid rgba(255, 31, 31, 0.945);
      }
      span{
          font-weight: 700;
          color: rgba(255, 31, 31, 0.945);
      }
      .income-history{
          border-right: .5rem solid rgba(16, 173, 63, 0.945);
          span{
              color: rgba(16, 173, 63, 0.945);
          }
      }
  }
  
  #formstyle{
    @extend .center;
    flex-direction: column;
    padding: 4% 0;
    form{
      @extend .flex-column;
    }
    input{
      padding : .8rem;
      margin: 1rem;
    }
  }
  
  .socialLoginContainer {
    a{
      display: inline-block;
      margin:  0 2rem;
    }
  }